.btn-like {
  position: absolute;
  top: 45px;
  right: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;

  img {
    width: 40px;
  }

  &:focus {
    outline: none;
  }
}