@import '../setup/variables';
.card {
  position: relative;
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  &__wrapper {
    grid-column-end: span 3;
    display: flex;
    flex-direction: column;
  }

  &__favorite-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-out 0s;

    img {
      width: 30px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__content {
    height: 100%;
    display: flex;
    padding: 10px;
    min-height: 90px;
  }

  &__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    margin: auto;
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    grid-column-end: span 3;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    grid-column-end: span 4;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    grid-column-end: span 6;
  }
}
