@import '../setup/variables';
.v-popup {
  &__overlay {
    position: fixed;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__favorite-button {
    position: absolute;
    top: 5px;
    right: 65px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;

    img {
      width: 40px;
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    margin: 10px 0;
    font-size: 22px;

    a {
      text-decoration: none;
      color: $colorMainDark;

      &:hover {
        color: $colorMain;
        text-decoration:none;
        cursor:pointer;
      }
    }

    h2 {
      font-size: inherit;
      line-height: 35px;
    }
  }

  &__info {
    color: $colorText;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;

    h4 {
      font-size: inherit;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;

    img {
      width: 40px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

  }

  &__modal {
    position: fixed;
    cursor: default;
    padding: 50px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
    min-width: 50%;
    max-width: 85%;
    min-height: 65%;
    max-height: 90%;
    background-color: $colorLightGray;
    border-radius: 16px;

    &__image-container {
      margin: auto;
      display: block;

      img {
        width: 100%;
        max-height: 265px;
        object-fit: contain;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease 0s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform .5s ease-out 0s;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-50%) translateY(100vw);
}

@media only screen and (max-width: 960px) {
  .v-popup {
    &__modal {
      max-width: 90%;
    }
    &__modal {
      &__image-container {
        img {
          max-height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .v-popup {
    &__title {
      font-size: 20px;
    }
    &__favorite-button {
      img {
        width: 30px;
      }
    }
    &__close {
      img {
        width: 30px;
      }
    }
    &__modal {
      &__image-container {
        img {
          max-height: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .v-popup {
    &__modal {
      padding: 40px 30px;
    }
    &__title {
      font-size: 15px;
    }
    &__info {
      font-size: 12px;
    }
    &__favorite-button {
      right: 55px;
      img {
        width: 25px;
      }
    }
    &__close {
      right: 2.5px;
      img {
        width: 25px;
      }
    }
  }
}
