$colorMain: #69f0ae;
$colorMainLight: #9fffe0;
$colorMainDark: #2bbd7e;
$colorLightGray: #f5f5f6;
$colorDarkGray: #e1e2e1;
$colorText: #000000;

$color-additional: #a1a1ba;

$color-blue: #434f81;
$color-blue-hover: darken($color-blue, 10%);